<!DOCTYPE html>
<html>
  <% include partials/headChat.ejs %>
  <body>
    <div class="chat-container">
      <% include partials/header.ejs %>
      <div class="logs-container">
        <div id="messages"></div>
      </div>
      <div class="input-container">
        <input
          placeholder="<%=viewData.username%>"
          type="text"
          id="chat-input"
        />
        <button
          type="submit"
          id="chat-send-button"
          onClick="sendMessage('<%= viewData.username %>')"
        >
          Send
        </button>
      </div>
    </div>
  </body>
</html>
