<!DOCTYPE html>
<html>
  <% include partials/headHome.ejs %>
  <body>
    <div class="home-container">
        <% include partials/header.ejs %>
        <div class="main">
            <div class="username-container">
                <h3 class="username-label">Username</h3>
                <input type="text" id="username">
            </div>
            <br/>
            <div class="room-options-container">
                <div class="options-container">
                    <span>Create</span> <input type="checkbox" id="room-option-create" onClick="roomOptionChoice(true, false)">
                    <span>Join</span> <input type="checkbox" id="room-option-join" onClick="roomOptionChoice(false, true)">
                </div>
                <br/>
                <div class="room-input-container">
                    <label class="room-label">Room:</label>
                    <input type="text" class="username-form-input" id="roomID"/>
                    <button type="submit" class="username-form-button" onClick="joinRoom()">Enter</button>
                </div>
            </div>
        </div>
   </div>
  </body>
  </div>
</html>