html {
  height: 100vh;
}
.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-text {
  font-size: 44px;
  background: -webkit-linear-gradient(320deg, #f80759 0%, #bc4e9c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
