<head>
  <title><%= viewData.headerTitle %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/home.css" type="text/css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
  <script src="/js/helpers.js"></script>
  <script src="/js/socket.js"></script>
  <script src="/js/home.js"></script>
</head>
