<div class="header">
  <div class="home-header-title">
    <h3><%= viewData.appTitle %></h3>
  </div>
  <div id="home-header-count">
    <span>Total Users:</span> <span id="totalUsers"></span>
  </div>
</div>
